.p-bigCardArea {
    display: flex;
    flex-direction: column;
    & > *{
        flex: 0 0 50%;
    }
    &>*.c-bigCard:nth-child(even) {
        & {
           //åå background-color: red;
            outline: blue solid 1px;

            &__img {
                order: 1;
            }
        }

        .c-bigCard__textArea {
            order: 2;
        }

        .c-bigCard__img {
            order: 1;
        }
    }
}
@media(min-width:450px){
    .p-bigCardArea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        & > *{
            flex: 0 0 50%;
            height:  50%;
        }
        &>*.c-bigCard:nth-child(even) {
            & {
            //    background-color: red;
                outline: blue solid 1px;
                &__img {
                    order: 1;
                }
            }
            .c-bigCard__textArea {
                order: 2;
            }

            .c-bigCard__img {
                order: 1;
            }
        }
    }
}

@media (min-width:750px) {
    .p-bigCardArea {
        display: flex;
        flex-direction: row;
        height: 800px;
        & > *{
            flex: 0 0 50%;
            height: 100%;
        }
        &>*.c-bigCard:nth-child(even) {
            & {
            //   /  background-color: red;

                &__img {
                    order: 1;
                }
            }

            .c-bigCard__textArea {
                order: 2;
            }

            .c-bigCard__img {
                order: 1;
            }
        }
    }
}