.p-cardArea{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    &>*{
        flex: 0 0 48%;
    }
}

@media(min-width:750px){
    .p-cardArea{
        max-width: 1100px;
        margin: 0 auto;
        &>*{
            flex: 0 0 30%;
        }
    }
}

