.c-bigCard {
    display: block;
    outline: firebrick solid 1px;
    display: flex;
    justify-content: space-between;

    &>* {
        flex: 0 0 50%;
    }

    &__textArea {
        order: 1;
        display: block;

        // text-overflow: ellipsis;
        //white-space: nowrap;
        & p {
            // display: -webkit-box;
            // -webkit-box-orient: vertical;

        }
    }

    &__ttl {
        margin: 0 0 10px;
    }

    &__img {
        position: relative;
        display: inline-block;
        order: 2;
        align-items: flex-end;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;

            width: 100%;
            height: 100%;
            z-index: 100;
            transition-duration: 0.5s;
            background:
                linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, #f00 50.5%) no-repeat bottom right/0 0;
                background-color: rgba(152, 251, 152, 0.39);

        }

        & img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            // width: 100%;
            // height:  100%;
            // object-fit: contain;
        }
    }

    &:hover &__img::before {
        content: "";
        position: absolute;
        z-index: 100;
        opacity: 0.5;
        transition-duration: 0.5s;
        background:
            linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, #f00 50.5%) no-repeat bottom right/100% 100%;

    }
}

@media (min-width:450px) {}

@media (min-width:750px) {
    .c-bigCard {
        display: flex;
        flex-direction: column;

        &>* {
            flex: 0 0 50%;
        }

        &__textArea {
            flex: 0 0 45%;
            height: 45%;
            order: 1;
        }

        &__ttl {
            margin: 0 0 10px;
        }

        &__img {
            flex: 0 0 55%;
            height: 55%;
            order: 2;
            //   align-items: flex-end;

            & img {
                vertical-align: bottom;
                //  width: 100%;
            }
        }
    }
}