.c-card {
  display: inline-block;
  //cardなのでP-cardで制御したい
  //画像の比率（何が来ても大丈夫な様にするために）px指定
  width: 100%;
  height: 200px;
  //

  border-radius: 5px;
  background-color: #e7e7e7;
  margin: 0;
  overflow: hidden;
  cursor: pointer;

  &__imgArea {
    height: 70%;
    position: relative;
    background-color: #eb6c3f;
    transition-duration: 0.5s;
    overflow: hidden;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transition-duration: 0.5s;
      width: 100%;
    }
  }

  &__ttl {
    margin: 10px 0;
  }

  &__textArea {
    transition-duration: 0.5s;
  }

  &__text {

    transition-duration: 2s;
    //display: none;
    list-style: none;
    opacity: 0;
    padding: 0;
  }

  &:hover {
    transition-duration: 0.5s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &:hover &__imgArea {
    transition-duration: 0.5s;
    height: 20%;

    & img {
      width: 200%;
    }
  }

  &:hover &__textAre {
    transition-duration: 0.7s;
    height: 70%;
  }

  &:hover &__text {
    transition-duration: 2s;
    display: block;
    //    overflow: scroll;
    opacity: 1;
    transition-duration: 0.5s;
  }
}