

.c-slide{
    position: relative;
    overflow: hidden;
    padding-left:0;
    //margin-bottom: 20px;
    margin: 0;
    width: 100%;
    height: 100vw;
    &__item{
        list-style: none;
       // position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(1.1);
        transition: opacity 2s linear, transform 5.5s linear;
        position: relative;
        z-index: 1;

        &:not(:first-child) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }

        &.view {
            opacity: 1;
        }

        &.zoom {
            transform: scale(1.2);
        }

        img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
           // transform:  translateX(-50%);
            display: block;
        }
    }
}