$baseColor:blue;


.c-sns{
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border:1px solid $baseColor;
    padding: 5px 10px;
    &__text{
        display: inline-block;
        margin: 0 0 0 auto;
    }
    &__icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 10px;
    }
    &:hover{
        background-color: $baseColor;
    }
}