body {
  //これは不要になります。斜め線100pxの半分

  // padding: 200px;
  // margin: 10px;
}
//基本形
.p-skew {
  // 変数を宣言
  //背景色
  $color1: #ccc;
  position: relative;

  //textの部分
  &__content {
    z-index: 999;
    padding-bottom: 8.7488663525924%;
    //直角三角形の高さ
     border: transparent solid 1px;
     //必要
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: $color1;
    transform: skewY(-5deg);
    transform-origin: bottom left;
  }
}
//逆向き（左上から右下）
.p-skewReverse {
  //marginはdemo用なので不要
  margin-top: 200px;
  margin-bottom: 200px;
  &::before {
    transform: skewY(5deg);
    transform-origin: bottom right;
  }
}



//以下は色違い
.p-skew--add{
  // 変数を宣言
  //背景色
  &:nth-child(odd){
    //透明
    $color1: rgba(44, 101, 105, 0);
    &::before {
      background-color: $color1;
    }
    &::after {
      background-color: $color1;
    }
  }
  $color1: rgb(252, 147, 147);

  &::before {
    background-color: $color1;
  }
}
//色違い
.p-skew--gradient{
  $color1: linear-gradient(to left,
  #13244a 0%, #000 88%);
  //textの色
  .p-skew__content {
    color: #fff;
  }

  &::before {
    background: $color1;
  }

  &::after {
  background: $color1;
   }
}
